Nama : Azisya Luthfi Bintang

NIM : 2022071051

In [ ]:
#Sets Part 1
print("\033")

set_1 = {"Toyota", "Daihatsu", "Honda"}
set_2 = (("Toyota", "Daihatsu", "Honda"))
print("Tipe data set_1 adalah : ", type(set_1))
print("Tipe data set_2 adalah : ", type(set_2))
print("-----------------------------------------")

for x in set_1:
  print(x)
print("-----------------------------------------")

print(len(set_1))

if "Daihatsu" in set_1:
  print("Yes, 'daihatsu' is an item in set_1")

set_1.add("Mitsubishi")
print(set_1)

set_1.update(["Suzuki", "Mazda", "Nissan"])
print(set_1)


Tipe data set_1 adalah :  <class 'set'>
Tipe data set_2 adalah :  <class 'tuple'>
-----------------------------------------
Toyota
Honda
Daihatsu
-----------------------------------------
3
Yes, 'daihatsu' is an item in set_1
{'Toyota', 'Mitsubishi', 'Honda', 'Daihatsu'}
{'Mazda', 'Suzuki', 'Honda', 'Daihatsu', 'Toyota', 'Nissan', 'Mitsubishi'}

In [ ]:
# Sets Part 2

set_1.remove("Honda")
print(set_1)

set_1.discard("Mazda")
print(set_1)

set_1.pop()
print(set_1)

del set_1
print("-----------------------------------------")

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
print("-----------------------------------------")

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set1)

In [ ]:
# Boolean Part 1
print("Case 1")
f = bool(True)
g = bool(False)
print(f)
print(g)
print("-----------------------------------------")

print("Case 2")
print(3>2)
print(3+2==5)
print(3<2)
print("-----------------------------------------")

print("Case 3")
penghasilan = 20000000
penghasilanTanpaPajak = 4000000
if penghasilan <= penghasilanTanpaPajak:
  pajakYangHarusDibayar = 0
if penghasilan > penghasilanTanpaPajak:
  pajakYangHarusDibayar = 0.1 * penghasilan
print("Pajak yang harus Anda bayar : Rp. ", pajakYangHarusDibayar)

Case 1
True
False
-----------------------------------------
Case 2
True
True
False
-----------------------------------------
Case 3
Pajak yang harus Anda bayar : Rp.  2000000.0

In [ ]:
#part 2
print("Case 4")
a = 3
b = "Ini data string."
c = ("laptop", "buku", "ballpen")
d = ["laptop", "buku", "ballpen"]
e = {"laptop" : "asus", "buku" :"buku_teks", "ballpen" : "arrow"}
f = {1, 2, 3, 4, 5}

print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print("-----------------------------------------")

Case 4
True
True
True
True
True
True
-----------------------------------------

In [ ]:
# part 3
print("Case 5")

a = 0
b = ""
c = ()
d = []
e = {}

print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print("-----------------------------------------")

print("Case 6")
class myClass():
  def __len__(self):
    return 0
print(bool(myClass()))
print("-----------------------------------------")

Case 5
False
False
False
False
False
True
-----------------------------------------
Case 6
False
-----------------------------------------

In [ ]:
# Latihan program dengna melibatkan data berjenis sets dn juga boolean
def linearSearch(nset, item):
  found = False
  for element in nset:
    if element == item:
      found = True # Akan true kalo ketemu

  return found  # tinggal di balikin aja dah

list = {'y', 'u', 'i', 'w', 'o', 'a', 'q', 'u', 'j', 'p'}
print(linearSearch(list, 'a'))
print(linearSearch(list, 'x'))

True
False